<h1>Game#play</h1>

<p>Find me in app/views/game/play.html.erb</p>
<h1>Test</h1>

<div class="game-containing-box">

 <table class="board">
  <tr><td>Hello</td></tr>
  <tr><td>Second Row</td></tr>
 </table>

</div>

<p>End o' tests</p>
